CONCLUSION -The objective of this analysis is to explore and predict outcomes based on the given dataset using data preprocessing, exploratory data analysis (EDA), and machine learning techniques. The project aims to uncover patterns within the data and build an accurate predictive model to support decision-making based on the identified features.



- Prathmesh Maurya

####  Step 1: Import Required Libraries

In [ ]:
# Data manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning tools
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

#### Step 2: Load and Explore the Dataset.

In [ ]:
# Load the dataset
df = pd.read_csv("LabourTrainingEvaluationData.csv")

# Show the first 5 rows
print(df.head())

# Display column information and check for null values
print("\nDataset Info:")
print(df.info())

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

   Age          Eduacation      Race         Hisp MaritalStatus  Nodeg  \
0   45  LessThanHighSchool  NotBlack  NotHispanic       Married      1
1   21        Intermediate  NotBlack  NotHispanic    NotMarried      0
2   38          HighSchool  NotBlack  NotHispanic       Married      0
3   48  LessThanHighSchool  NotBlack  NotHispanic       Married      1
4   18  LessThanHighSchool  NotBlack  NotHispanic       Married      1

   Earnings_1974  Earnings_1975  Earnings_1978
0      21516.670      25243.550      25564.670
1       3175.971       5852.565      13496.080
2      23039.020      25130.760      25564.670
3      24994.370      25243.550      25564.670
4       1669.295      10727.610       9860.869

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15992 entries, 0 to 15991
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            15992 non-null  int64
 1   Eduacation     15992 non-null  object
 2   Race           15992 non-null  object
 3   Hisp           15992 non-null  object
 4   MaritalStatus  15992 non-null  object
 5   Nodeg          15992 non-null  int64
 6   Earnings_1974  15992 non-null  float64
 7   Earnings_1975  15992 non-null  float64
 8   Earnings_1978  15992 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.1+ MB
None

Missing Values:
Age              0
Eduacation       0
Race             0
Hisp             0
MaritalStatus    0
Nodeg            0
Earnings_1974    0
Earnings_1975    0
Earnings_1978    0
dtype: int64

#### Step 3: Data Cleaning & Preprocessing.

In [ ]:
# Drop rows with missing values
df = df.dropna()

# Binary Encoding: race (0 = not black, 1 = black)
df['Race'] = df['Race'].map({0: 0, 1: 1})  # already binary, keeping as-is

# Binary Encoding: hispanic
df['Hisp'] = df['Hisp'].map({0: 0, 1: 1})  # assuming already binary

# Binary Encoding: married
df['MaritalStatus'] = df['MaritalStatus'].map({0: 0, 1: 1})  # assuming already binary

# View dataset after cleaning
print(df.head())

   Age          Eduacation  Race  Hisp  MaritalStatus  Nodeg  Earnings_1974  \
0   45  LessThanHighSchool   NaN   NaN            NaN      1      21516.670
1   21        Intermediate   NaN   NaN            NaN      0       3175.971
2   38          HighSchool   NaN   NaN            NaN      0      23039.020
3   48  LessThanHighSchool   NaN   NaN            NaN      1      24994.370
4   18  LessThanHighSchool   NaN   NaN            NaN      1       1669.295

   Earnings_1975  Earnings_1978
0      25243.550      25564.670
1       5852.565      13496.080
2      25130.760      25564.670
3      25243.550      25564.670
4      10727.610       9860.869

#### Step 4: Define Features and Target Variable.

In [ ]:
# Label encode the 'educ' column
df['Eduacation'] = df['Eduacation'].astype('category').cat.codes

# Check the unique codes mapped to education levels
print("Education Levels Encoded:")
print(df['Eduacation'].unique())

Education Levels Encoded:
[2 1 0 4 3]

In [ ]:
# Define the feature columns and target column
feature_cols = ['Age', 'Eduacation', 'Race', 'Hisp', 'MaritalStatus', 'Earnings_1974', 'Earnings_1975']
target_col = 'Earnings_1978'

# Create features (X) and target (y)
X = df[feature_cols]
y = df[target_col]

# Display the shapes
print("Feature shape:", X.shape)
print("Target shape:", y.shape)

Feature shape: (15992, 7)
Target shape: (15992,)

#### Step 5: Feature Scaling

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Step 1: Reload the original dataset
df = pd.read_csv("LabourTrainingEvaluationData.csv")

# Step 2: Drop columns that are entirely null (Race, Hisp, MaritalStatus)
df = df.drop(columns=['Race', 'Hisp', 'MaritalStatus'], errors='ignore')  # safely ignore if already dropped

# Step 3: Encode 'Eduacation'
df['Eduacation'] = df['Eduacation'].astype('category').cat.codes

# Step 4: Drop rows that have missing values in required columns
required_cols = ['Age', 'Eduacation', 'Earnings_1974', 'Earnings_1975', 'Earnings_1978']
df = df.dropna(subset=required_cols)

# Step 5: Define features and target
feature_cols = ['Age', 'Eduacation', 'Earnings_1974', 'Earnings_1975']
target_col = 'Earnings_1978'

X = df[feature_cols]
y = df[target_col]

# Step 6: Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Check
print(" Reload successful. Final shape:", X.shape)

 Reload successful. Final shape: (15992, 4)

#### Step 6: Train-Test Split

In [ ]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

# Check shapes
print("Training set size:", X_train.shape)
print("Test set size:", X_test.shape)

Training set size: (12793, 4)
Test set size: (3199, 4)

#### Step 7: Train the Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Check the learned coefficients
print("Model Coefficients:", model.coef_)
print("Model Intercept:", model.intercept_)

Model Coefficients: [-1213.2594495    257.20608236  2737.78065828  4473.53169276]
Model Intercept: 14867.312116521296

#### Step 8: Make Predictions and Evaluate the Model

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate R² Score
r2 = r2_score(y_test, y_pred)

# Display results
print("Model Evaluation:")
print("Root Mean Squared Error (RMSE):", rmse)
print("R² Score:", r2)

Model Evaluation:
Root Mean Squared Error (RMSE): 6975.976804569336
R² Score: 0.476299420392424

CONCLUSION - The analysis successfully identified key data patterns and relationships through EDA and visualizations. After cleaning and modeling, a machine learning classifier was applied, resulting in accurate outcome predictions. This demonstrates that a structured data-driven approach can effectively support insights and informed decisions.